{% extends 'courier/base.html' %}

{% block head %}
<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: {
                lat: -33.867139,
                lng: 151.207114
            },
        });

        fetch("{% url 'courier:available_jobs_api' %}")
            .then(res => res.json())
            .then(json => {
                for (let i = 0; i < json.jobs.length; i++) {
                    const job = json.jobs[i]
                    const position = {
                        lat: job.pickup_lat,
                        lng: job.pickup_lng
                    }
                    const marker = new google.maps.Marker({
                        position: position,
                        map
                    })
                    new google.maps.InfoWindow({
                        content: "<small><b>" + job.name + "</b></small><br /><small>" + job.distance +
                            " Km</small>"
                    }).open(map, marker)
                }
            })
    }
</script>

<style>
    .gm-ui-hover-effect {
        display: none !important;
    }

    #map {
        flex: 1;
    }
</style>
{% endblock head %}

{% block content %}
<div class="d-flex flex-column h-100" style="padding-bottom: 60px">
    <div id="map"></div>
</div>
{% include 'courier/bottom_tabs.html' %}
{% endblock content %}

{% block scripts %}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap&libraries=places&v=weekly">
</script>
{% endblock %}