{% extends 'courier/base.html' %}

{% block head %}
<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: {
                lat: 41.85,
                lng: -87.65
            },
        });
    }
</script>

<style>
    #map {
        flex: 1;
    }
</style>
{% endblock head %}

{% block content %}
<div class="d-flex flex-column h-100" style="padding-bottom: 60px">
    <div id="map"></div>
</div>
{% include 'courier/bottom_tabs.html' %}
{% endblock content %}

{% block scripts %}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap&libraries=places&v=weekly">
</script>
{% endblock %}