{% extends 'courier/base.html' %}

{% block head %}
<style>
    body {
        background-color: black;
    }

    .btn-black {
        position: fixed;
        top: 30px;
        left: 30px;
    }

    .buttons {
        position: fixed;
        bottom: 20px;
        left: 0;
        right: 0;
        text-align: center;
    }

    #take-photo-step {
        height: 100%;
        display: flex;
        align-items: center;
    }

    video {
        width: 100%;
        height: auto;
    }
</style>
{% endblock head %}

{% block content %}
<div id="take-photo-step">
    <video id="webcom" autoplay playsinline></video>
    <canvas id="canvas" class="d-none"></canvas>

    <div class="buttons">
        <a href="#" class="btn btn-warning">Take Pickup Photo</a>
    </div>
</div>
{% endblock content %}