{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
<script
  src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap&libraries=places&v=weekly"
  defer>
</script>

<style>
  #pills-tab a {
    color: black;
  }

  #pills-tab a:hover {
    color: orange;
    text-decorated: none;
  }

  #pills-tab a.active {
    color: orange;
  }
</style>
{% endblock head %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <!-- LEFT_SIDE -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          JOB SUMMARY
        </div>
        <div class="card-body">
          {% if not job %}
          <p>A summary of your job information will appear here</p>
          {% else %}
          <h4>{{ job.name }}</h4>
          <span>{{ job.quantity }} Item</span><br />
          <span>{{ job.get_size_display }} Job</span>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- RIGHT_SIDE -->
    <div class="col-lg-8">

      <!-- Step tabs -->
      <div class="card mb-5">
        <div class="card-body">
          <ul class="nav nav-pills nav-justified align-items-center mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="{% if step == 1 %} active {% endif %}" id="pills-info-tab" data-toggle="pill" href="#pills-info"
                role="tab" aria-controls="pills-info" aria-selected="true">Item Info</a>
            </li>
            <i class="fas fa-chevron-right"></i>
            <li class="nav-item" role="presentation">
              <a class="{% if step == 2 %} active {% endif %}" id="pills-pickup-tab" data-toggle="pill"
                href="#pills-pickup" role="tab" aria-controls="pills-pickup" aria-selected="false">Pickup</a>
            </li>
            <i class="fas fa-chevron-right"></i>
            <li class="nav-item" role="presentation">
              <a class="{% if step == 3 %} active {% endif %}" id="pills-delivery-tab" data-toggle="pill"
                href="#pills-delivery" role="tab" aria-controls="pills-delivery" aria-selected="false">Delivery</a>
            </li>
            <i class="fas fa-chevron-right"></i>
            <li class="nav-item" role="presentation">
              <a class="{% if step == 4 %} active {% endif %}" id="pills-payment-tab" data-toggle="pill"
                href="#pills-payment" role="tab" aria-controls="pills-payment" aria-selected="false">Payment</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Step forms -->
      <b>CREATE A JOB</b>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade {% if step == 1 %} show active {% endif %}" id="pills-info" role="tabpanel"
          aria-labelledby="pills-info-tab">
          <h1>Item Info</h1>
          <form method="POST" enctype="multipart/form-data">
            <b class="text-secondary">Item Information</b><br />
            <div class="card bg-white mt-2 mb-5">
              <div class="card-body">
                {% csrf_token %}
                {% bootstrap_form step1_form %}
              </div>
            </div>
            <input type="hidden" name="step" value="1" />
            <button type="submit" class="btn btn-warning">Save & Continue</button>
          </form>
        </div>
        <div class="tab-pane fade {% if step == 2 %} show active {% endif %}" id="pills-pickup" role="tabpanel"
          aria-labelledby="pills-pickup-tab">
          <h1>Pickup</h1>
          <form method="POST" enctype="multipart/form-data">
            <b class="text-secondary">Pickup Information</b><br />
            <div class="card bg-white mt-2 mb-5">
              <div class="card-body">
                {% csrf_token %}
                {% bootstrap_form step2_form %}
              </div>
            </div>
            <input type="hidden" name="step" value="2" />
            <button type="button" class="btn btn-outline-warning"
              onclick="$('#pills-info-tab').tab('show')">Back</button>
            <button type="submit" class="btn btn-warning">Save & Continue</button>
          </form>
        </div>
        <div class="tab-pane fade {% if step == 3 %} show active {% endif %}" id="pills-delivery" role="tabpanel"
          aria-labelledby="pills-delivery-tab">
          <h1>Delivery</h1>
        </div>
        <div class="tab-pane fade {% if step == 4 %} show active {% endif %}" id="pills-payment" role="tabpanel"
          aria-labelledby="pills-payment-tab">
          <h1>Payment</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}